html,body
{
margin: 0;
padding: 0;
width: 100%;
height: 100%;    
}

body 
{
position: relative;
height: 100%;
min-height: 100%;
height: auto !important;
}

#wrap_sidebar
{
width: 260px;
background: #50b5df;
position: absolute;
height: 100%;
top: 0;
}

#navbar
{    
width: 260px;
background: #50b5df;
/*position: absolute;
z-index: 3;*/
float: left;
font-size:12px;
}

#zaglush
{
  width: 100%;
  height: 10px; 
  clear: left;
}


a
{
 color: #50b5df;
}

#menu {
	padding: 0;
	margin: 0 10px;
	font-size: 100%;
        display: block;
        height: 30px;
        background: #50b5df;
        font-size: 13.5px;
	}
#menu > li {
	list-style: none;
	float: left;
	padding: 0 0 0 35px;
	margin: 0;
	width: 200px;
        height: 30px;
	text-align: left;
	background: #50b5df;
	position: relative;
	}

#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 200px;
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
	z-index:7;
        }
#menu li ul li {
	float: none;
        display: block;
	margin: 0;
        text-align: left;
	width: 200px;
        background: #50b5df;
        z-index:5;
	}
#menu li a {
	display: block;
	width: 160px;
        padding: 5px 5px 5px 8px;
	color: #fff;
	text-decoration: none;
	}

#menu li ul li a {
	display: inline-block;
        vertical-align: top;
	width: 180px;
        padding: 5px 5px 5px 8px;
	color: #fff;
	text-decoration: none;
	}        
        
#menu li:hover ul, #menu li.jshover ul {
	display: block;
	}
#menu li:hover, #menu li.jshover {
	background: #424242;
	}

a.btnfilter,a.btnfilter:hover 
{
  color: #fff;  
}        
        
.btnfilter
{
 font-size: 13px;
 background: #feb302;    
 padding: 5px 25px 5px 5px;
 color: #fff;
 border: none;
 display: inline-block;
 vertical-align: top;
 position: relative;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 
}

.contr
{
 padding-bottom: 50px;
 margin: 0 10px;
 display: block;
}


.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    text-align: right;
    border-top: 1px solid #cfdde7;
    color: #777;
    padding: 10px 10px 0 10px;
    font-size: 12px;
}

.bgfon
{
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(top,  #e0f3fa 0%, #9fd5fc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(100%,#9fd5fc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0f3fa 0%,#9fd5fc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0f3fa 0%,#9fd5fc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0f3fa 0%,#9fd5fc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0f3fa 0%,#9fd5fc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#9fd5fc',GradientType=0 ); /* IE6-9 */
   
}



.footer a
{
color: #50b5df;    
text-decoration: underline;
}

 .popup 
{
 display: none; 
 position:absolute; 
 z-index: 10; 
 height: 80%; 
 width: 98%; 
 top: 0;
 left: 0;
}

 #background 
{ 
 position: fixed;
 z-index: 15; 
 left:0; 
 top:0; 
 opacity: 0.45; 
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
 width: 100%; 
 height: 100%; 
 background-color: #000; 
}

.addopt
{
 margin-top: 22px;
 padding: 5px;
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top,  #9dd53a 0%, #549b09 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(100%,#549b09)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9dd53a 0%,#549b09 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9dd53a 0%,#549b09 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9dd53a 0%,#549b09 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9dd53a 0%,#549b09 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#549b09',GradientType=0 ); /* IE6-9 */
border: 1px solid #74B231;
color: #fff;
}

.addopt:active
{
background: #549b09; /* Old browsers */
background: -moz-linear-gradient(top,  #549b09 0%, #9dd53a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#549b09), color-stop(100%,#9dd53a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #549b09 0%,#9dd53a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #549b09 0%,#9dd53a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #549b09 0%,#9dd53a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #549b09 0%,#9dd53a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#549b09', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */
}

.addopt:focus
{
  outline: none;  
}
/* .alert.alert-danger
{
  background: #faeaea;
  border-color: #e1b9b9;
  border-width: 1px;
  color: #c82e2e;
  font-size: 15px;
  padding: 10px 10px 5px;    
}

 .alert
{
 font-size: 22px;
 background: #d44637; 
 color: #fff;
border-radius: 0;
margin: 0;
padding: 3px 10px 3px 7px;
height: 50px;
}

 .alert .text
{
  padding-top: 7px;
  display: inline-block;
  vertical-align: top;  
}

 .alert #aico
{
background: url('/images/icos.png') no-repeat -91px -58px;
width: 23px;
height: 20px;
display: inline-block;
vertical-align: top;
margin: 12px 0 0 0;
}
*/
 #win
{
width: 500px;
height: 320px;
background: #e74c3c;
color: #fff;    
z-index: 20;
top: 50%;
left: 50%;
margin-top: -250px;
margin-left: -250px;
position: fixed;
}

#win a:before
{
  content: '\2190';  
}

 #win a
{
  content: '\2190';  
  color: #fff;
  font-size: 14px;
}

.opis
{
  font-size: 13.5px;
  padding:10px 20px;  
}

.alert i.close
{
 display: inline-block;
 vertical-align: top;  
 opacity:1;
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 cursor: pointer;
 color: #a12113;
 text-shadow:none;
 margin-top: 12px;
 top:0;
 right: 0;
}

.opis .glyphicon-eye-open:before
{
 color: #a12113;
}



/***********************Авторизация ***********************/
#frmwrap
{
 margin: 0 auto; 
 position:absolute;
 top:50%;
 left:50%;
 margin-left: -180px;
 margin-top: -179px;
}

#auth_form
{
 width: 360px;
 padding: 17px;
 background: #50b5df; 
 overflow: hidden;
}

#auth_form h3
{
 margin: 5px 0;
 color: #fff;
 font-size: 15px;   
}

#logoico
{
    background: url("../images/logobig.png") no-repeat;
    width: 234px;
    height:43px; 
    position: relative
}

#logoico_min
{
    background: url("../images/logomini.png") no-repeat;
    width: 100px;
    height:31px; 
    position: relative;
    margin:5px 0 10px 10px;
}
#auth_form span
{
 display: inline-block;
 vertical-align: top;    
 color: #fff;
}

.big
{
font-size: 40px;
font-family: Impact;    
position: relative;
}

.small
{
 padding-top: 12px;   
 font-size: 13px;   
 line-height: 12px;
 margin-bottom: 5px;
position: relative;
}

#login-form
{
 margin-top: 10px;
}

.bl_rel
{
 position: relative;   
}

#loginform-username,#loginform-password,#restoreform-email
{
 background-color: #e0f3fa;   
 color: #000;
 font-size: 13px;
 border: none;
 border-radius:0;
 padding: 10px 0 10px 40px;
 margin-bottom: 8px;
}

#auth_form .col-lg-3,#auth_form .col-lg-8
{
 display: block;
 width: 100%;   
}

#user_ico
{
    background: url('/images/icos.png') no-repeat -1px -2px;
	width: 20px;
	height: 24px;
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 10px;
}

#lock
{
background: url('/images/icos.png') no-repeat -25px -4px;
width: 17px;
height: 21px;
position: absolute;
z-index: 2;
top: 9px;
left: 10px;
}

#email_ico
{
width: 20px;
height: 14px;    
background: url('/images/icos.png') no-repeat -129px -37px;
position: absolute;
z-index: 2;
top: 10px;
left: 10px;
}


#auth_form .checkbox
{
 display: inline-block;
 vertical-align: top;   
}

#auth_form .checkbox label
{
 color: #fff;
 font-size: 12px;
 padding-left: 0; 
}

.btn_login
{
background: #e1f6ff; /* Old browsers */
background: -moz-linear-gradient(top,  #e1f6ff 0%, #a6cad9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1f6ff), color-stop(100%,#a6cad9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e1f6ff 0%,#a6cad9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e1f6ff 0%,#a6cad9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e1f6ff 0%,#a6cad9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e1f6ff 0%,#a6cad9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f6ff', endColorstr='#a6cad9',GradientType=0 ); /* IE6-9 */
padding: 8px 20px;
color: #2d8dc4;
float: right;
border: none;
behavior: url(PIE.php);     
-khtml-border-radius:5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


#auth_opcii
{
overflow: hidden;
font-size: 13px; 
margin-top: 25px;
padding: 10px 0 0;  
border-top: 1px solid #468fb2;
}

#auth_opcii a
{
 color: #cef1ff;
 text-decoration: underline;
}

#auth_opcii a#restore
{
  float: left;  
}

#frmwrap #goodmessage
{
 background: #a1c11e;
 color: #fff;   
 padding: 7px 10px;
 margin-bottom: 5px;
}

a#goback
{
 background: #a1c11e;
 color: #fff;   
 display: block;
 width: 65px;
 padding: 2px 5px;    
}


.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #a94442;
}



#studio
{
 display: none;
 font-size: 14px;
 color: #fff;
 background: #a1c11e;   
 padding: 5px;
 line-height: 14px;
}

/*************************** КОНЕЦ АВТОРИЗАЦИИ ********************/
#toppanel
{
 background: #f4f8fb;
 padding:7px 5px;
 color: #666;
 font-size: 12px;   
 /*overflow: hidden;*/
 display: block;
}

.contr ul.breadcrumb {
  padding: 10px 0;
  margin: 0 0 20px;
  list-style: none;
  background-color: transparent;
  font-size: 12.5px;
}

.contr ul.breadcrumb a
{
 text-decoration: underline;   
}

.contr ul.breadcrumb li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\00BB";
}

.txt,#usd,#eur,#rub
{
  display: inline-block;
  vertical-align: top; 
  margin-top: 3px;
  margin-left: 5px;
  color: #666; 
}

.txt11
{
  display: inline-block;
  vertical-align: top; 
  margin-top: 3px;
  margin-left: 5px;
  color: #666; 
  font-size: 11px;
}

.red
{
 color: #d02a21;   
}


#exit
{
  text-decoration: underline;   
  display: inline-block;
  vertical-align: top;
   margin: 3px 8px 0;  
}

#toppanel a.js
{
  display: inline-block;
  vertical-align: top; 
  margin-top: 3px;
  margin-left: 5px;
  color: #666; 
  border-bottom: 1px dotted #666;
}

#hiddenmenu
{
background: url('/images/icos.png') no-repeat -292px -5px;
width: 23px;
height: 20px; 
display: inline-block;
vertical-align: top;
}

#logomini
{
float: left;    
background: url('/images/logominii.png');
width: 81px;
height: 25px;
margin:3px 20px 0 5px;
}

#tekdate
{
display: inline-block;
vertical-align: top;
background: url('/images/icos.png') no-repeat -321px -7px;
width: 14px;
height: 16px;
margin-top: 2px;
margin-left: 12px;    
}

#rate
{
display: inline-block;
vertical-align: top;
background: url('/images/icos.png') no-repeat -187px -35px;
width: 18px;
height: 18px;    
margin-left: 5px;
}

.newupd
{
behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
border-radius: 5px;
 background: #d02a21;
 color: #fff;   
}

#rbl
{
 float: right;   
}

#userbl
{
 display: inline-block;
 vertical-align: top;   
 color: #fff;
 background: #c0cdce;  
 padding: 2px 5px; 
 margin: 0 5px;
}

#setting_ico
{
background: url('/images/icos.png') no-repeat -273px -5px;
width: 5px;
height: 19px; 
display: inline-block;
vertical-align: top;   
}
/*************************** SIDEBAR ********************/
#navbar span
{
 display: inline-block;
 vertical-align: top;    
 color: #fff;
 margin-left: 10px;
}

#navbar ul
{
 list-style: none;   
 margin: 0;
 padding: 0;
}

#navbar ul li
{
 margin-top: 1px;
 background-color: #468fb2;
 position: relative;
}

a:hover
{
  text-decoration: none;
}

#navbar ul li div,#navbar ul li a
{
 color: #fff;  
 padding: 10px 0 10px 45px;
 display: block;
 cursor: pointer;
}

#navbar ul li a.active
{
 background-color: #66b132;    
}

#navbar ul li ul
{
 display: none;   
}

#navbar ul li ul li
{
 background-color: #569fc2;
 margin-top: 0;
}

#navbar ul li ul li a
{
 color: #fff;  
 display: block;
padding: 10px 0 10px 55px;
}

#navbar ul li ul li a.active
{
 background-color: #66b132;
}

#navbar ul li ul li a:hover
{
 background-color: #7ec0df;
 text-decoration: none;   
}

.menunav
{
position: absolute;  
top: 8px;
left: 4px;  
background-image: url('/images/icos.png');
background-position:-133px -11px;
background-repeat:  no-repeat;
display: inline-block;
vertical-align: top; 
margin-top:8px;
width: 9px;
height: 8px;    
}

.menunav_act
{
position: absolute;  
top: 8px;
left: 4px;  
background-image: url('/images/icos.png');
background-position:-117px -12px;
background-repeat:  no-repeat;
display: inline-block;
vertical-align: top; 
margin-top:8px;
width: 8px;
height: 9px;
}


.sys_ico
{
position: absolute;    
top: 4px;
left: 10px;  
background-image: url('/images/icos.png');
background-position:-87px -4px;
background-repeat:  no-repeat;
width: 23px;
height: 22px; 
}

.addusr_ico
{
position: absolute;    
top: 8px;
left: 28px;  
background-image: url('/images/icos.png');
background-position:-147px -5px;
background-repeat:  no-repeat;
width: 22px;
height: 17px;    
}

.group_ico
{
position: absolute;    
top: 8px;
left: 26px;  
background-image: url('/images/icos.png');
background-position:-174px -6px;
background-repeat:  no-repeat;
width: 24px;
height: 16px;    
}

.rules_ico
{
position: absolute;    
top: 11px;
left: 28px;  
background-image: url('/images/icos.png');
background-position:-204px -8px;
background-repeat:  no-repeat;
width: 16px;
height: 16px;    
}

.vagon_ico
{
position: absolute;
top: 4px;
left: 15px;    
background-image: url('/images/icos.png');
background-position:-341px -33px;
background-repeat:  no-repeat;
width: 16px;
height: 20px;    
}

.detail_ico
{
position: absolute;
top: 8px;
left: 26px;
background-image: url('/images/icos.png');
background-position:-362px -33px;
background-repeat:  no-repeat;
width: 20px;
height: 20px;    
}

.rights_ico
{
background-image: url('/images/icos.png');
background-position:-65px -33px;
background-repeat:  no-repeat;
width: 20px;
height: 20px;    
}

.control_ico
{
position: absolute;    
top: 4px;
left: 10px;  
background-image: url('/images/icos.png');
background-position:-286px -35px;
background-repeat:  no-repeat;
width: 18px;
height: 20px;    
}


.spr_ico
{
position: absolute;    
top: 6px;
left: 14px;  
background-image: url('/images/icos.png');
background-position:-314px -36px;
background-repeat:  no-repeat;
width: 20px;
height: 18px;    
}


.menu_ico
{
position: absolute;    
top: 11px;
left: 26px;      
background-image: url('/images/icos.png');
background-position:-160px -36px;
background-repeat:  no-repeat;
width: 19px;
height: 17px;    
}

.rights_ico
{
position: absolute;    
top: 8px;
left: 26px;      
background-image: url('/images/icos.png');
background-position:-65px -33px;
background-repeat:  no-repeat;
width: 20px;
height: 20px;
}

.comp_ico
{
position: absolute;
top: 8px;
left: 20px;    
background-image: url('/images/icos.png');
background-position: -431px -36px;
background-repeat:  no-repeat;
width: 18px;
height: 19px;    
}

.spavochnik_ico
{
position: absolute;
top: 5px;
left: 15px;    
background-image: url('/images/icos.png');
background-position: -476px -35px;
background-repeat:  no-repeat;
width: 20px;
height: 20px;    
}

.sobs_ico
{
position: absolute;
top: 8px;
left: 30px;    
background-image: url('/images/icos.png');
background-position: -453px -34px;
background-repeat:  no-repeat;
width: 15px;
height: 20px;    
}

.spravki_ico
{
position: absolute;
top: 8px;
left: 27px;    
background-image: url('/images/icos.png');
background-position: -387px -34px;
background-repeat:  no-repeat;
width: 20px;
height: 20px;    
}

.tsho_ico
{
position: absolute;
top: 8px;
left: 27px;    
background-image: url('/images/icos.png');
background-position: -410px -34px;
background-repeat:  no-repeat;
width: 20px;
height: 20px;    
}
/********************RULES*************************/
#rules-form
{
 background-color: #f4f8fb;
 width: 500px;
 padding: 20px 10px;
  font-size: 13px;    
}

h1{
 font-size: 26px;
 color: #000;   
}


h3{
 font-size: 20px;
 color: #000;   
}

#rules-form .title
{
 color: #666;
 font-size: 13px;   
 display: inline-block;
 vertical-align: top;
 width: 200px;
}

#rules-form .form-group
{
 display: inline-block;
 vertical-align: top;   
}

.btnok:focus,.btncancel:focus
{
 outline: none;   
}

 a.btnok
{
 background: #a1c11e;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 padding: 5px;
 color: #fff;
 font-size: 13px;
 border: none;
 margin-left: 5px;
 margin-right: 10px;
 position: relative;
}


 .btnok
{
 display: inline-block;
 vertical-align: top;   
 background: #a1c11e;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 padding: 5px 25px 5px 5px;
 margin: 0 5px 0 0;
 font-size: 13px;
 color: #fff;
 border: none;
 position: relative;
}

a.btncancel,.btncancel
{
 background-color: #d02a21;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 padding: 5px 25px 5px 5px;
 color: #fff;
 border: none;
  font-size: 13px;
 display: inline-block;
 vertical-align: top;
 position: relative;
}

.btn-group
{
 margin-top: 10px; 
 display: block;
}

.ok_ico
{
background: url('/images/icos.png') -423px -9px no-repeat ;
width: 14px;
height:14px;
position: absolute;
top: 7px;
right: 5px;
}

.cancel_ico
{
background-image: url('/images/icos.png') ;
background-position: -401px -7px;
background-repeat: no-repeat ;
width: 18px;
height: 18px;    
position: absolute;
top: 4px;
right: 5px;
}

 a.delrule, a.delbitbtn
{
 padding: 5px 5px 5px 5px;
 margin-top: 5px;
 display: inline-block;
 vertical-align: top;
}
/**************************GRIEDVIEW***********************/
.form-griedview
{
background: #f4f8fb;
padding: 10px;     
}

.grid-view
{
margin-top: 5px;    
width: 100%;
}

.tbl-griedview
{
border: 1px solid #ebf4fa;    
padding: 10px;
background: #fff;
behavior: url(PIE.php);     
-khtml-border-radius:5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.tbl-griedview p
{
 display: inline-block;
 vertical-align: top;   
}

 .table > thead > tr > td
{
 padding:8px 3px;   
}


.table-bordered {
  border: none;
  margin-bottom: 0;
}

 a.gbtnins,.gbtnins
{
 display: inline-block;
 vertical-align: top;
 background: #a1c11e;
 padding: 5px 25px 5px 5px;
 color: #fff;
 border: none;
 margin-right: 10px;
 position: relative;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 font-size: 13px;
}

 a.gbtnedit
{
 display: inline-block;
 vertical-align: top;
 background: #a1c11e;
 padding: 5px 25px 5px 5px;
 color: #fff;
 border: none;
 margin-right: 10px;
 position: relative;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 font-size: 13px;
}


a.gbtncancel,.gbtncancel
{
 font-size: 13px;
 background: #d02a21;
 padding: 5px 25px 5px 5px;
 margin-right: 10px;
 color: #fff;
 border: none;
 display: inline-block;
 vertical-align: top;
 position: relative;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

 a.notactive
{
 font-size: 13px;
 background: #c0cdce;
 padding: 5px 25px 5px 5px;
 color: #fff;
 border: none;
 display: inline-block;
 vertical-align: top;
 position: relative;
 behavior: url(PIE.php);     
 -khtml-border-radius:5px; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.tbl-griedview .summary
{
 color: #808e92;
 font-size: 12px;
 margin: 4px 0;  
}

.table-striped .filters .form-control, .table-striped .filters .mabselect a.single
{
  border: 1px solid #a1c11e;
}

.table-striped .form-control
{
  display: block;
  width: 100%;
  padding:3px 6px;
  height: 28px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cfdde7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.table-striped > tbody > tr.tr_active
{
 background-color: #e6f89b;   
 z-index: 2;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #edf5fb;
}

.table-striped > tbody > tr.tr_active:nth-of-type(odd) {
 background-color: #e6f89b;   
}

.tbl-griedview .table-bordered > thead > tr > th
{
border: none;
background: #bacfdf; /* Old browsers */
background: -moz-linear-gradient(top,  #bacfdf 0%, #7f9aaf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bacfdf), color-stop(100%,#7f9aaf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bacfdf 0%,#7f9aaf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bacfdf 0%,#7f9aaf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bacfdf 0%,#7f9aaf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bacfdf 0%,#7f9aaf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacfdf', endColorstr='#7f9aaf',GradientType=0 ); /* IE6-9 */
}

.tbl-griedview .table-bordered > thead > tr > th a
{
 border-bottom: 1px dashed #fff;
 color: #fff;
 }

.tbl-griedview .table-bordered > thead > tr > th
{
 color: #fff;
 font-weight: normal;   
 font-size: 12.5px;
border-top-left-radius: 0;
border-top-right-radius: 0;

}

.table-bordered > thead > tr > td
{
 border: none;   
}

.table-bordered > tbody > tr > td
{
border: none;    
color: #000;
font-size: 12.5px;
}

.table-bordered.detail-view  > tbody > tr > td
{
 border-left: 1px solid #ddd;   
}

.add
{
display: inline-block;
vertical-align: top;
position: absolute;
top:7px;
right: 5px;
background: url('/images/icos.png') no-repeat -423px -9px;
width: 14px;
height: 14px;
}

.edit
{
display: inline-block;
vertical-align: top;
position: absolute;
top:7px;
right: 5px;
background: url('/images/icos.png') no-repeat -442px -8px;
width: 14px;
height: 14px;    
}

.delete
{
display: inline-block;
vertical-align: top;
position: absolute;
top:7px;
right: 5px;
background: url('/images/icos.png') no-repeat -462px -8px;
width: 14px;
height: 14px;    
}

.filter
{
display: inline-block;
vertical-align: top;
position: absolute;
top:7px;
right: 5px;
background: url('/images/icos.png') no-repeat -130px -62px;
width: 16px;
height: 13px;    
}


#status
{
 color: #808e92;
 font-size: 12px;  
 margin: 6px 0 0;
 display: inline-block;
 vertical-align: top;  
}

.filters .input-group.date
{
margin: auto;    
}

.w5
{
 width: 3%;
 text-align: center;   
}

.w4
{
 width: 4%;
 text-align: center;   
}

.wbig
{
width: 80px;    
}

.w6
{
 width: 6%;
 text-align: center;   
}

.w7
{
 width: 7%;
 text-align: center;   
}


.w8
{
 width: 8%;
 text-align: center;   
}

.w11
{
 width: 11%;
 text-align: center;   
}

.w14
{
 width: 14%;
 text-align: center;  
}

.w16
{
 width: 16%;
 text-align: center;   
}


.w20
{
 width: 20%;
 text-align: left;   
}

/*****************CRUD FORMS********************/
.item-form
{
background: #f4f8fb;
padding: 15px 15px 15px 0;    
display: block;
margin-bottom: 30px;
}

.item-form form
{
padding-left: 60px;    
}

.item-form label {
  display: inline-block;
  vertical-align: top;
  max-width: none;
  margin-bottom: 3px;
  font-weight: normal;
  color: #666;
  font-size: 13px;
  width: 200px;
}

.item-form label.lbig
{
 width: 550px;   
}

.item-form label.lmin
{
 width: 80px;   
 text-align: center;
}

.header
{
 display: none;   
}

.header.active
{
 display: block;   
}

.item-form .required label {
  display: inline-block;
  vertical-align: top;
  max-width: none;
  margin-bottom: 0;
  font-weight: normal;
  color: #666;
  font-size: 13px;
  width: 200px;
}


.required label:after
{
 color: #d02a21;   
 content: "\2217";
 font-size: 11px;
 vertical-align: super;
}    

.input-groups
{
 display: block;   
}

.input-groups .bline
{
 display: inline-block;
 vertical-align: top;
 margin: 5px;   
}

.input-groups .bline .form-group
{
 margin: 0;   
}

.form-group
{
 width: 100%;
 margin: 5px;
}


.form-group
{
  margin-bottom: 0;  
}

.item-form .form-control
{
 width: 100%;   
}

.form-control.small-input
{
width: 170px;    
}

.form-control.xx-small-input
{
width: 200px;    
}

.form-control.large-input
{
width: 65%;    
}


.table-bordered > tbody > tr > th
{
 border: none;   
}

.bl input.form-control.small
{
  width: 100%;  
  margin-top: 3px;
}

 input.form-control.small
{
  border: 1px solid #cfdde7;
  display: inline-block;
  vertical-align: top;
  width: 150px;
}

input.form-control, textarea.form-control
{
  border: 1px solid #cfdde7;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.col-lg-3
{
  padding-right: 0;
  padding-left: 0;
}


.mabselect 
{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.grid-view .mabselect
{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.grid-view .mabselect a.single span {
  padding: 5px;
  color: #000;
  font-size: 12px;
  display: block;
  overflow: hidden;
  width: 100%;
}

.grid-view .mabselect a.single div {
  position: absolute;
  z-index: 5;
  width: 20px;
  height: 80%;
  right: 1.6px;
  top: 2px;
  padding-top: 10px;
  background: #fff;
}

.save_ico
{
background-image: url('/images/icos.png'); 
background-repeat: no-repeat;
background-position: -209px -36px;
width: 17px;
height: 17px;  
position: absolute;
top: 4px;
right: 5px;
}

ul.pagination
{
margin: 10px 0 5px;
}



.pagination > .disabled > span
{
 font-size: 13px;
}

.pagination > li >  a
{
  font-size: 13px;
}


 .pagination > .active > a
{
  background-color: #a1c11e;
  border-color: #a1c11e;
  color: #fff;
  font-size: 13px;
  font-weight: bold;    
}

.form-group.field-user-active label
{
 margin-left: 210px;   
}

.u_active
{
background: url('/images/icos.png') no-repeat -4px -37px;
width: 14px;
height: 14px;    
display: inline-block;
vertical-align: top;
cursor: pointer;
}

.u_unactive
{
background: url('/images/icos.png') no-repeat -22px -37px;
width: 14px;
height: 14px;    
display: inline-block;
vertical-align: top;
cursor: pointer;
}

.directory_ico
{
display: inline-block;
vertical-align: top;
background-image: url('/images/icos.png');
background-position:-5px -63px;
background-repeat:  no-repeat;
width: 14px;
height: 14px; 
margin: 7px 0 0 3px;
}

.tips_ico
{
position: absolute;
  top: 11px;
  left: 26px;    
background: url('/images/icos.png') no-repeat -387px -34px;
width: 20px;
height: 20px;
}
/*****************************************************
******************************************************
***************** Добавить вагон *********************
******************************************************
*****************************************************/
 .clear
{
display: block; width: 100%;height: 90px;
}

.form-groups .form-group
{
float: left;
margin-right: 10px;
}

.item-form .form-groups .add-on
{
 margin-top: 3px;   
}

.item-form .form-groups label {
  display: block;
  font-weight: normal;
  color: #666;
  font-size: 13px;
}


.item-form .form-groups input.form-control
{
 /*margin-top: 3px;   */
}

.item-form .form-groups .help-block
{
 margin-left: 0;   
}

.input-append
{
  display: inline-block;
  vertical-align: top;
}

.item-form.vagon .mabselect 
{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.item-form.vagon .mabselect.details 
{
  display: inline-block;
  vertical-align: top;
  width:540px;
  margin:3px 3px 3px 0;
}


.blgroup .form-group
{
 float: left; 
 width: 415px;
}

.blgroup input.form-control.small {
  width: 47%;
}

 .blgroup input.form-control.usd {
  width: 20%;
}

 .blgroup .help-block {
  margin-left: 0;
}

 .small-group
{
 margin-left: 100px;   
}

 .tab-content .small-group .form-group
{
float: left;
margin-right: 10px;
margin-left: 0;
width:100px;
}


 .item-form .small-group label {
  display: block;
  font-weight: normal;
  color: #666;
  font-size: 13px;
  width: 100px;
  margin-bottom: 5px;
}

 .small-group input
{
width: 100%;    
}


.calcbl
{
padding: 5px;    
background-color: #d02a21;
margin: 3px 0 0 3px;
display: inline-block;
behavior: url(PIE.php);     
-khtml-border-radius:5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.calc_ico
{
background-image: url('/images/icos.png');
background-repeat: no-repeat;
background-position: -64px -62px;
width: 12px;
height: 15px;    
display: block;
}

 #vagonform .form-groups .form-group
{
 margin: 0 10px 0 0;   
}

 #vagonform .form-group label
{
  display: block;  
  /*margin-bottom: 10px;*/
}

 #vagonform .tabbl
{
display: block;  
background: #e8f0f6;
width: 800px;
}

 #vagonform .tabbl .binline
{
 display: inline-block;
 vertical-align: top;
 width: 550px;   
}

 #vagonform .tabbl .binline label
{
 width: 200px;   
}

 #vagonform .tabbl .oneitem
{
padding: 2px 8px;
}

 .item-form label.title
{
 color: #d02a21;  
 font-weight: bold; 
 margin-bottom: 2px;
}

 #vagonform a img.delaction
{
  margin: 8px 0 0 5px;
  cursor: pointer;
}

 #vagonform .tabbl .bigbl
{
  display: inline-block;
  vertical-align: top;  
  width: 65%;
}

 #vagonform .bl
{
  display: inline-block;
  vertical-align: top;  
  width: 250px;
  margin:0 5px;
}

 #vagonform .tabbl .bl
{
  display: inline-block;
  vertical-align: top;  
  width: 12%;
  margin:0 3px;
}

 #vagonform .bl label
{
  display: inline-block;
  vertical-align: top; 
  width: 80px; 
}

 #vagonform .tabbl .bl label
{
 display: block;   
}

 #vagonform .form-cena
{
 margin-left: 30px; 
 overflow: hidden;  
}

 #vagonform .form-cena .form-group
{
width: 18%;
 margin-left: 0;
 float: left;   
}

 #vagonform .form-cena .form-group input[type="text"]
{
 width: 75%;   
}

 #vagonform .tabbl .calcbl, .tab-content .tabbl a.delbitbtn
{
 margin:23px 10px 0 5px;   
}

 #vagonform .tabbl input[type="text"].small-input
{
  border: 1px solid #cfdde7;
  display: block;
  width: 100%;
  margin: 3px 0 0 0;
}

.bitbtn
{
color: #fff;
display: inline-block;
vertical-align: top;
margin:5px;
padding: 6px 8px;
background: #a1c11e;
cursor: pointer;
behavior: url(PIE.php);     
-khtml-border-radius:5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#sbtn
{
color: #fff;
display: inline-block;
vertical-align: top;
margin: 0 5px;
padding: 6px 8px;
background: #d02a21;
cursor: pointer;
behavior: url(PIE.php);     
-khtml-border-radius:5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/*********** VIEW VAGON ********/
.p3
{
width: 3%;    
}


.p5
{
width: 5%;    
}

.p6
{
width: 6%;    
}


.p8
{
width: 8%;    
}

.p11
{
width: 11%;    
}

.p12
{
width: 12%;    
}

.p15
{
 width: 15%;   
}

.p43
{
width: 43%;    
}

.c
{
text-align: center;    
}


 .item-view table#record-view
{
 margin-bottom: 10px;   
 font-size: 13px;
}

 .item-view table#record-view,  .item-view table#record-view th,  .item-view table#record-view td {
  border: 1px solid #80c550;
}


 .item-view table#record-view, .item-view #record-view tbody
{
 width: 100%;   
}

 .item-view #record-view tr
{
  display: table-row;
  width: 100%;
}

 .item-view #record-view tr th
{
 text-align: center;
 font-weight: normal;
 background: #66b132;
 color: #fff;
 padding: 5px 1px;
}

 .item-view #record-view tr td
{
  padding: 5px;  
  text-align: center;
}

 .item-view #record-view tr td.ll
{
  text-align: left;
}


 .item-view #record-view tr td.lefttxt
{
text-align: left;    
}

#titbl
{
background: #f4c638;
font-weight: bold;   
text-align: center;
padding: 5px;
margin-top: 10px;
color: #000;
}



.titopis
{
background: #f4c638;
font-weight: bold;   
text-align: left;
padding: 5px;
color: #000;
}

.pp
{
 padding: 3px 5px;
 background: #e6e6e6;
 margin: 2px 0;
}

.pcell
{
 padding: 3px 5px;
 margin: 0 2px;
 display: inline-block;
 vertical-align: top;
}

table.dop
{
  width: 100%; 
  margin-top: 20px;  
  font-size:10px;
}

table.dop th
{
 background: #f7dd8b;   
 padding: 5px;
 font-weight: normal;   
 border: 1px solid #d0a41c;
}

table.dop tr.tr_active td
{
 background: #e6f89b;   
}


table.dop tr.blue td,table.dop td.blue
{
  color: #0553a2;  
}

table.dop tr.normal td
{
  color: #0553a2;  
}

table.dop tr.red td
{
  color: #d02a21;  
}

table.dop tr.green td
{
  color: #6e7e28;  
}

table.dop tr.itog td
{
  font-weight: bold;  
}

table.dop tr.bgblue td
{
 background-color: #d1e7f7;   
  font-weight: bold;
}

table.dop td
{
 padding: 5px;   
 border-left: 1px solid #d0a41c;
 border-right: 1px solid #d0a41c;
 border-bottom: 1px solid #d0a41c;
 cursor: pointer;
}

 ul#vtabs.nav.nav-tabs
{
   -webkit-padding-start: 0;
     -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  /*height: 42px;*/
}

 .nav-tabs {
   border-bottom: none; 
}

ul.nav.nav-tabs:after
{
   clear: none;
}


table.dop td .station
{
 font-size: 12px;   
}
/********** Report *********************/
.form-btns
{
 display: inline-block;
 vertical-align: top;   
}

.report-bl
{
display: inline-block;
vertical-align: top;  
margin-right: 5px;  
}

.report-bl label
{
 display: block;   
 font-size: 13px;
 font-weight: normal;
}

 .report-bl input.form-control.small
{
  width: 100px;  
}

.report-bl #datetimepicker1,.report-bl #datetimepicker2
{
 margin-top: 3px;   
}

 .report-bl .gbtnins
{
 margin: 28px 0 0 5px;   
padding: 4px 8px 4px;    
}

.search_ico
{
background-image: url('/images/icos.png'); 
background-repeat: no-repeat;
background-position: -385px -9px;
width: 14px;
height: 14px;
display: inline-block;
margin: 2px 1px 0 0;
}

.delete_ico
{
display: inline-block;
vertical-align: top;
background-image: url('/images/icos.png'); 
background-repeat: no-repeat;
background-position: -462px -8px;
width: 14px;
height: 14px;    
margin: 3px 0 4px 1px;
}

 .form-control.mini-input
{
 width: 100px;   
}

 .table-bordered > thead > tr > td #vagonsearch-dates
{
 width: 80%;
 padding: 5px 0 3px 4px;  
 font-size: 13px; 
behavior: url(PIE.php);     
-khtml-border-radius:4px 0 0 4px; 
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius:4px 0 0 4px; 
border: 1px solid #a1c11e;
}

 .table-bordered > thead > tr > td .input-group-addon {
  display: inline-block;
  width: auto;
  height: 28px;
  min-width: 16px;
  padding: 3px 3px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
}

 .table-bordered > thead > tr > td .input-group-addon .glyphicon.glyphicon-calendar, .glyphicon-calendar
{
background-image: url('/images/glyphicons-halflings.png');
background-repeat: no-repeat;
background-position: -192px -120px;
margin-top: 1.5px;
width: 14px;
height: 16px;
}

 .table-bordered > thead > tr > td .input-group-addon .glyphicon-calendar:before, .glyphicon-calendar:before
 {
  content: "";
}

 .input-group-addon, .input-group-btn
{
 width: 14px;   
 padding: 6px;
}

thead .combo>ul.results li.child {
  padding-left: 2px;
  font-weight: normal;
}

 a.goback
{
  background: #d02a21;  
  color: #fff;
  font-size: 13px;
  width: 50px;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}

 #vagonform .opis
{
 width: 100%;   
}

 #vagonform .opis .form-group 
{
  float: left;
  margin:0 10px;  
}


 #vagonform .opis .form-group textarea
{
  width: 100%;  
}

 #vagonform .opis .form-group.field-vagon-vu22, #vagonform .opis .form-group.field-vagon-akt
{
  width: 73%;  
}

 #vagonform .opis .form-group.field-vagon-vu22kol, #vagonform .opis .form-group.field-vagon-aktkol
{
 width: 100px;   
}


 .nav-tabs > li > a{
  color: #fff;
  cursor: pointer;
  background-color: #46bfb2;
  margin-top: 4px;
  font-size: 12px;
}

 .nav-tabs > li:hover > a
{
  color: #fff;
  background-color: #76ded3;
}

 .nav-tabs > li.active > a{
  cursor: default;
  color: #fff;
  background: #d02a21; 
  border-left: 1px solid #d02a21;
  border-right: 1px solid #d02a21;
  border-top: 1px solid #d02a21;
}  

#panelval
{
 margin: 10px 0; 
}

#panelval .bgbl
{
 margin-bottom: 5px;
 display: inline-block;
 vertical-align: top;
 width: 120px;
}

#panelval .title
{
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  width: 60px;
  color:#333
}

#panel div .bl
{
   display: inline-block;
   vertical-align: top;
   width: 150px;   
}

#panelval div label
{
   display: inline-block;
   font-size: 13px;
   font-weight: normal;
   color:#333
}

#panelval div input[type="text"],#panelval div span
{
   display: inline-block;
   vertical-align: top;
   margin: 3px
}

 #panelval .bl input.form-control.small
{
width: 100px; 
padding-top: 5px;
height: 30px;
}

.valuta_ico
{
position: absolute;    
top: 8px;
left: 26px;  
background-image: url('/images/icos.png');
background-repeat:  no-repeat;
background-position: -410px -34px;
width: 19px;
height: 20px;
}

.otch_ico
{
  position: absolute;
  top: 6px;
  left: 26px;
  background-image: url('/images/icos.png');
  background-position: -224px -2px;
  background-repeat: no-repeat;
  width: 20px;
  height: 22px;    
}

#tabscroll
{
 overflow-x: scroll   
}

#bl100
{
  width: 100%; 
  margin-top: 20px;
  position: relative;
}

.bl70
{
 margin-right: 310px;
}

.bl29
{
  position: absolute;
  top:0;
  right: 0;
  width: 300px;
}

.inlineblock > div i
{
  color: #000;
  font-style: normal;
  font-weight: bold;
}

.inlineblock > div b
{
   margin: 5px 0; 
   font-size: 13.5px; 
   display: block;
   color:#000;
   line-height: 14px
}

.inlineblock > div
{  
  color:#666;
  font-size: 13px;
  vertical-align: 14px;
  background: #f4f8fb;
  margin-bottom: 20px;
}

.inlineblock > div .blb
{
  padding: 5px 10px;  
}

.inlineblock .title
{
  display: block;
  padding: 3px 5px;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #c0cdce;
  margin-bottom: 5px;
}

.inlineblock .title.aboutcompany
{
   border-top:2px solid #50b5df; 
}

.inlineblock .title.aboutsystem
{
   border-top:2px solid #ff8d68; 
}

.inlineblock .title.aboutmonitor
{
   border-top:2px solid #01bba6; 
}

 .form-control.dl200
{
 border: 1px solid #cfdde7;
  display: block;
  vertical-align: top;   
  width: 200px  
}

 .item-form.vagon #option-tip.mabselect
{
  display: block;  
  width: 200px;
}

#graph
{
  border:8px solid #f4f8fb;
  width: 100%;
  height: 400px;    
}

.inlineblock > .quickpanel
{
  font-size: 14px;
  position: relative;
  background: #f4f8fb;
  border-top: 2px solid #01bba6;
  display: inline-block;
  vertical-align: top;
  width: 53%;
  margin-right:2%;
}

.inlineblock > .quickschet
{
  color:#000;
  font-size: 14px;
  position: relative;
  background: #f4f8fb;
  border-top: 2px solid #d02a21;
  display: inline-block;
  vertical-align: top;
  width: 43%;
}


.inlineblock > .quickpanel > .title,.inlineblock > .quickschet>.title 
{
 border-bottom: 1px solid #c0cdce;   
 background: #f3f7fa;
 padding: 8px;
 display: block;
}

.inlineblock > .quickpanel >div,.inlineblock > .quickschet>div
{
   padding: 10px; 
}

 .inlineblock > .quickschet>div a
{
  display: block;
  font-size: 14px;
  color: #235a81;
  text-decoration: underline;
  background: #c0cdce;
  margin: 3px 0;
  padding: 3px 0 3px 10px;
  border-left: 5px solid #50b5df;
}

.inlineblock > .quickpanel >div .bitbtn 
{
  text-align: center;
  color:#fff;  
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  width: 150px;
  height: 90px;
  line-height: 14px;
background: #91d387; /* Old browsers */
background: -moz-linear-gradient(top,  #91d387 0%, #61c419 100%, #b4e391 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91d387), color-stop(100%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #91d387 0%,#61c419 100%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #91d387 0%,#61c419 100%,#b4e391 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #91d387 0%,#61c419 100%,#b4e391 100%); /* IE10+ */
background: linear-gradient(to bottom,  #91d387 0%,#61c419 100%,#b4e391 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91d387', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
  behavior: url(PIE.php);     
-khtml-border-radius:5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.inlineblock > .quickpanel >div .bitbtn div
{
   position: relative; 
   height: 45px;
   margin-bottom: 2px;
}

#qschet
{
  background: url('/images/icos.png') no-repeat -81px -101px;
  width: 28px;
  height: 32px;
  position: absolute;
  top: 12px;
  left:55px;
}

#priceico
{
  background: url('/images/icos.png') no-repeat -44px -101px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  left:53px;
}

#repkvart
{
  background: url('/images/icos.png') no-repeat -6px -100px;
  width: 30px;
  height: 32px;
  position: absolute;
  top: 12px;
  left:53px;
}

#usersm
{
 background: url('/images/icos.png') no-repeat -122px -105px;
  width: 32px;
  height: 22px;
  position: absolute;
  top: 12px;
  left:53px;   
}